.wrap-countdown {
  width: 960px;
  height: 540.55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.countdown-logo {
  width: 40%;
}
.countdown-time {
  color: rgba(242, 90, 112, .9);

  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 340px;
  font-weight: 100;
}
.countdown-time-second {
  color: rgb(242, 90, 112);
  font-weight: 700;
}
.countdown-time-separator {
  font-weight: 400;
}
