body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown {
  width: 960px;
  height: 540.55px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.countdown-time {
  color: rgb(242, 90, 112);
  text-align: center;
  font-size: 120px;
}
