.btn {
  opacity: .8;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #2ecc71;
  color: #ecf0f1;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
  transform-origin: center center;

  transition: all 200ms linear;
}

.btn:disabled {
  cursor: auto;
  opacity: .4;
  color: rgba(255, 255, 255, 1)
}

.btn:not(:disabled):hover,
.btn:not(:disabled):focus {
  opacity: 1;
}

.btn:not(:disabled):active {
  transform: scale(.9)
}

.btn_second {
  background-color: #3498db;
}