.wrap-process {
  background-color: rgba(195, 197, 198, 0.21);
  width: 100%;
  overflow: hidden;
  border-radius: 5px;

  transition: background-color 200ms linear;
}
.process {
  background-color: #C3C5C6;
  height: 10px;
  display: block;
  transform-origin: right top;
  transition: .3s;

  transition: background-color 200ms linear;
}
